{% extends 'base.html' %}
{% block main %}
  <div class="forms1">
    <div class="media text-muted pt-3">
      <img class="mr-2 rounded" style="margin: 20px; width: 128px; height: 128px;" src="{{ user.profile.images.url }}">
      <h3>{{ title }}</h3>
    </div>
    <form method="post" enctype="multipart/form-data">
      <div>
        <h3 class="mt-4">Изменить данные про пользователя</h3>
        {% csrf_token %}
        {{ user_form.as_p }}
        <button type="submit" class="btn btn-dark">Обновить</button>
      </div>

    </form>
  </div>
{% endblock %}
